<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8b2a7c60-4a85-4509-9853-c7e952960f88/resourceGroups/AppTIAW20210707224449ResourceGroup/providers/Microsoft.Web/sites/ConsultaAPI20210729142015</ResourceId>
    <ResourceGroup>AppTIAW20210707224449ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/8b2a7c60-4a85-4509-9853-c7e952960f88/resourceGroups/AppTIAW20210707224449ResourceGroup/providers/Microsoft.ApiManagement/service/ConsultaAPIapi/apis/ConsultaAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://consultaapi20210729142015.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>462975cf-de2f-46ab-b005-7094d2a5fabb</ProjectGuid>
    <MSDeployServiceURL>consultaapi20210729142015.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConsultaAPI20210729142015</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ConsultaAPI20210729142015</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>